.home_page {
  background-color: #671314;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}


.home_page__info h1 {
  text-transform: uppercase;
  font-size: 75px;
  padding: 0;
  margin: 0;
}

.home_page__info p {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
  color: darkgray;
}
.home_page__header {
  color: #FFFFFF;
}




.home_page__map {
  clip-path: circle(33%);
}
.home_page__map_wrapper {
  filter: drop-shadow(0px 10px 20px rgba(0,0,0,0.9));
}
