.markerItem {
    display: flex !important;
    justify-content: space-between;
    border: 1px solid red;
}

.markerItem img {
    width: 20px;
}

.markerItem td:last-child{
    padding-left: 50px;
}
