.btn {
    background-color: white;
    font-size: 20px;
    border-radius: 15px;
    min-width: 250px;
    padding: 10px;
    transition: all 0.3s ease;
}

.active {
    /*color: #951b1d;*/
    /*border: 2px solid rgba(149, 27, 29, 0.7);*/
    color: rgba(211,211,211 , 1);
    border: 2px solid rgba(211,211,211 , 1);
}
.active:hover {
    color: white;
    /*background-color: #951b1d;*/
    background-color: rgba(211,211,211 , 1);
    transition: all 0.3s ease;
}

.disabled {
    border: 2px solid lightgray;
    color: lightgray;
}

.disabled:hover {
    border: 2px solid lightgray;
    color: lightgray;
}