
.input {
    margin-bottom: 15px;
    width: 100%;
}

.input label {
    margin-bottom: 3px;
    padding: 0;
    display: block;
    font-weight: bold;
}

.input input {
    display: block;
    box-sizing: border-box;
    border: 1px solid lightgray;
    padding: 7px;
    margin:  0 0 5px;
    width: 100%;
    outline: none;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.input span {
    color: #951b1d;
    font-size: 12px;
    font-weight: bold;
}

.input.invalid {
    color: #951b1d;
}