a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", arial;
    font-weight: 300;
    display: flex;
}

ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}


#root {
    width: 100%;
}

.main-content {
    margin-left: 80px;
    width: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}